
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* task and tasks component */

.tasks-container{
    display: flex; 
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  

.task-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 0px;
    margin-bottom: 5px;
    min-height: 100px;
    background-color: lightgray;
    font-size: 22px;
  
  }
  .task-container .left-section{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(64, 63, 63)
  }
  .task-container .left-section .task-name{
    font-size: 24px;
    flex: 1;
  }
  
  /* right */
  .task-container .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 5px;
  }
  .task-container .right-section .top-part{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
  }
  .task-container .right-section .bottom-part{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .task-container .right-section .top-part .edit-div, .delete-div{
    cursor: pointer;
  }

  /* temp fix for misalignment */
  .edit-div{
    margin-top: 3px;
  }

  .date-created{
    font-size: 18px;
    color: #757575;
  }
  
  .task-container .middle-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  
.dueDate-box{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #E5A11B;
  color: rgb(81, 81, 81);
  border-radius: 10px;
  padding: 8px;
  font-family: "popins", sans-serif;
  font-size: 20px;
  margin-right: 10px;
}

.createdDate-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.dueDate-box,
.createdDate-box{
  cursor: pointer;
  position: relative;
}

.tooltip-box{
  position: absolute;
	background-color: rgb(109, 109, 109);
  border-radius: 5px;
	color: white;
	font-size: 14px;
	opacity: 0;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 10px;
	padding-bottom: 10px;	
	transition: opacity 0.2s;
	pointer-events: none;
	white-space: nowrap;
}
  
.completed-checkbox{
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-right: 20px;
  margin-left: 0px
}

.task-container i{
  color: grey;
  padding: 5px;
}
.task-container i:hover{
  opacity: 0.6;
}

.dueDate-box .tooltip-box{
  top: -30px;
  left: -15px;
}
.createdDate-box .tooltip-box{
  top: -35px;
  left: -34px;
}
.tooltip-effect:hover .tooltip-box{
  opacity: 0.95;
}

/* animation */
.task-container{
  animation: append-animate .3s linear;
}

@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}
